<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crec.shield">

    <!-- Required ⾃自定义⽤用来收发消息的相关权限 -->
    <permission
        android:name="com.crec.shield.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required ⼀一些系统要求的权限，如访问⺴⽹网络等 -->
    <uses-permission android:name="com.crec.shield.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS" />-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <!-- Optional for location -->

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>-->

    <uses-permission android:name="getui.permission.GetuiService.com.crec.shield" />

    <permission
        android:name="getui.permission.GetuiService.com.crec.shield"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="com.crec.shield.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

    <!-- 录制声音的权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.crec.shield.global.IstuaryGlobal"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:theme="@style/MyAppTheme"
        android:usesCleartextTraffic="true">

        <service
            android:name="com.crec.shield.service.DemoPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice"></service>

        <service android:name="com.crec.shield.service.DemoIntentService" />
        <!--Image Selector Entry-->

        <meta-data
            android:name="PUSH_APPID"
            android:value="HcqYLRX8cuA849atPIBKf6" />
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="cuL5OzSRgeAvQwgkcqHBk8" />
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="rTwdDiGpqB7OmVMaZEvpt5" />

        <activity
            android:name="com.crec.shield.ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity
            android:name="com.crec.shield.ui.activity.SplashActivity"
            android:launchMode="singleTop"/>-->

        <activity
            android:name="com.crec.shield.demo.LoginActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui2_2.activity.ProjectActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui2_2.activity.SettingFeedBackActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui2_2.activity.SettingAboutActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui2_2.activity.SettingHelpActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- <activity android:name="com.crec.shield.ui.activity.SettingSystemActivity"
             android:launchMode="singleTop"/>-->
        <activity
            android:name="com.crec.shield.ui.activity.HomeActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui.activity.CameraActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui.activity.CameraPlayerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui.activity.FollowActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui2_2.activity.MessageSettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui2_2.activity.SettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui.activity.ProjectDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui.activity.ProjectUserDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui.activity.ProjectMessageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui2_2.activity.ProgressManagementActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui2_2.activity.QualityManagementActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui2_2.activity.EquipmentManagementActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui2_2.activity.SafetyManagementActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui2_2.activity.RiskSourceActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui2_2.activity.RiskSourceDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui2_2.activity.SubsidenceDataMonitorActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui2_2.activity.CompanyActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui2_2.activity.UnnormalWorkConditionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui2_2.activity.DiggingDataActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui2_2.activity.ManagementDataActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui2_2.activity.QualityUploadActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui2_2.activity.ParameterListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui2_2.activity.ConcernedLinesActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui2_2.activity.CameraDataActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui2_2.activity.ApproachingArrivalActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".ui2_2.activity.SystemListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui2_2.activity.ProjectListForCityActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui2_2.activity.CompanyEquipmentManagementActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity    android:name="com.crec.shield.ui2_2.activity.VedioListForCityActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui2_2.activity.CompanySafeManagementActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui2_2.activity.ProjectQualityListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.crec.shield.ui2_2.activity.ProcessManagementActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.crec.shield.ui2_2.activity.CompanyManagementQualityActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

    </application>
</manifest>
